.doc-content blockquote {
  padding: 0.8em 0.8em 0.8em 1em;
  margin: 1em 1em 1em 1em;
  position: relative;
}

.doc-content blockquote:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0.3em;
  background-color: var(--bg-pop);
  border-radius: 10px;
}

.doc-content p,
.doc-content li,
.doc-content pre {
  margin-bottom: 1.4ch;
  margin-top: 1.4ch;
}

.doc-content pre {
  background-color: var(--code-bg);
  max-width: 100%;
  overflow: auto;
  width: auto;
  padding: 0.8em;
  border-radius: 0.5em;
}

.doc-content p {
  line-height: 1.4;
}

.doc-content code {
  font-family:
    Consolas,
    Monaco,
    Andale Mono,
    Ubuntu Mono,
    monospace;
  font-size: 0.8em;
}

.doc-content :not(pre) > code {
  background-color: var(--code-bg);
  width: fit-content;
  padding: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 0.5em;
}

.doc-content .heading-anchor {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  height: fit-content;
  width: fit-content;
  text-decoration: none;
}

.doc-content .heading-anchor-txt {
  scroll-margin-top: 7rem;
  margin-bottom: 0.05em;
  margin-top: 0.7em;
  color: var(--fg);
}

.doc-content .heading-anchor-txt:hover {
  text-decoration: underline;
}

.doc-content table,
th,
td {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid var(--bg-3);
}

.doc-content td,
th {
  min-height: 2em;
  min-width: 2em;
  padding: 0.6em;
}

.doc-content td {
  text-align: center;
}

.doc-content td[align="left"] {
  text-align: left;
}

.doc-content td[align="right"] {
  text-align: right;
}

.doc-content tr:nth-child(odd) td {
  background-color: var(--bg-secondary);
}

.doc-content table {
  border-radius: 0.5em;
}
